:root {
    --color1: #0f2027;
    --color2: #15202b;
    --color3: #1e2c3a;
    --color4: #15202b;
    --color5: #1e2c3a;
}

.icon-custom.logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: ghostwhite;
}

.container-old {
    position: relative;
    width: 100%;
}

.navigation-custom {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--color1);
    border-left: 13px solid var(--color1);
    transition: 0.5s;
    overflow: hidden;
}

.navigation-custom.active {
    width: 80px;

}

.navigation-custom ul {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 5px;
    width: 100%;
    padding-top: 10px;
}

.navigation-custom ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation-custom ul li a.active {
    background-color: ghostwhite;
    transition: 0.2s ease;
}

.navigation-custom ul li:hover:not(.navigation-custom ul li.active)  {
    background-color: rgba(176, 196, 222, 0.704);
}

.navigation-custom ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation-custom ul li a, .navigation-custom ul li form button  {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: ghostwhite;
}



.navigation-custom ul li.active a,.navigation-custom ul li.active form button {
    color: darkslategray;
    transition: 0.3s ease;
    z-index: 100;
}

.navigation-custom ul li a .icon-custom, .navigation-custom ul li form button .icon-custom {
    display: block;
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 1.35em;
}

.navigation-custom ul li a .title, .navigation-custom ul li form button .title{
    position: relative;
    display: block;
    padding: 0px 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outs */

.navigation-custom ul li.active a::before {
    content: '';
    position: absolute;
    right: 0px;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    transition: 1s;
    border-radius: 50%;
    box-shadow: 35px 35px 0px 14px ghostwhite;
    z-index: 0;
}

.navigation-custom ul .active {
    background-color: ghostwhite;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}



.navigation-custom ul li.active a::after {
    content: '';
    position: absolute;
    right: 0px;
    transition: 1s;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0px 15px ghostwhite;
    z-index: 0;
}

.main-custom {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 90vh;
    background: ghostwhite;
    transition: 0.5s;
}

.main-custom.active {
    transition: 0.5s;
    width: calc(100% - 80px);
    left: 80px;
}

.topbar-custom {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}

.toggle-custom {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    font-weight: lighter;
    cursor: pointer;
}

.search-custom {
    position: relative;
    width: 400px;
    margin: 0px 10px;

}

.search-custom label {
    position: relative;
    width: 100%;
}

.search-custom label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid black;
}

.search-custom label i {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card-custom {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card-custom .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: green;
}

.cardBox .card-custom .cardName {
    color: black;
    font-size: 1.1em;
    margin-top: 10px;
}

.cardBox .card-custom .iconBox {
    font-size: 3em;
    color: var(--color1);
}

.cardBox .card-custom:hover {
    background: #555b6e12;
    transition-duration: 0.1s;
    transform: scale(1.03);
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.details .recentPlace,
.details .bucketList,
.details .expenses,
.details .aboutMe,
.details .settings {
    position: relative;
    display: grid;
    min-height: fit-content;
    background: white;
    padding: 20px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

#expenses-table thead,
.dash-table-head {
    border-bottom: 2px solid black !important;
}

.bucketList div,
.bucketList ul {
    padding: 20px;
}

.settings.section {
    justify-content: center;
}

.section .cardHeader {
    padding: 20px;
    border-bottom: 2px solid black;
}

.settings div,
.settings ul {
    padding: 20px;
    display: grid;
    text-decoration: none;
    grid-template-rows: 3fr;
    list-style-type: none;
}

.settings ul li a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.settings ul li a i {
    color: black;
    margin-left: 2px;
    margin-right: 9px;
    border-radius: 20%;
}

.settings ul li {
    width: 37%;
    margin: 10px;
    padding: 9px;
    border: 2px solid rgba(0, 0, 100, 0.137);
    border-radius: 20px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.137);
}

.settings ul li:hover {
    background-color: whitesmoke;

}

.settings ul li input {
    background-color: var(--color1);
    color: ghostwhite;
    box-shadow: none;
    border-radius: 20px;
    padding: 20px;
}


.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--color1);
}

.btn-custom {
    position: relative;
    padding: 5px 10px;
    background-color: var(--color1);
    text-decoration: none;
    color: ghostwhite;
    border-radius: 20px;

}

.details .section,
.details .section .cardHeader,
.details .section ul,
.details .section ul li :not(#bucket-list-ul),
.section ul li :not(#recent-activities) {
    padding: 10px;
    list-style: none;
}

.details .recentPlace table,
.details .expenses table,
.details .aboutMe .content table {
    width: 100%;
    border-collapse: collapse;
}

.details .recentPlace table thead td,
.details .expenses table thead td {
    font-weight: 600;
    border-bottom: 2px solid black;
}

.details .recentPlace table tr,
.details .expenses table tr {
    color: black;
    border-bottom: 1px solid black;
}

.details .recentPlace table tr:last-child,
.details .expenses table tr:last-child,
.details .aboutMe .content table tr:last-child {
    border-bottom: none;
}

.details .recentPlace table tbody tr:hover,
.details .expenses table tbody tr:hover {
    background-color: rgba(84, 90, 109, 0.1);
}

.details .recentPlace table tr td,
.details .expenses table tr td,
.details .aboutMe .content table tr td {
    padding: 10px;
}

.details .recentPlace table tr td:last-child,
.details .expenses table tr td:last-child {
    text-align: center;
}

.details .recentPlace table tr td:nth-last-child(2),
.details .expenses table tr td:nth-last-child(2),
.details .aboutMe .content table tr td:nth-last-child(2) {
    text-align: end;
}

.newPlace {
    background-color: white;
    position: relative;
    padding: 20px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}


/* responsive part */
@media(max-width:991px) {
    .navigation-custom {
        left: -300px;
    }

    .navigation-custom.active {
        width: 300px;
        left: 0px;
    }

    .main-custom {
        width: 100%;
        left: 0px;
    }

    .main-custom.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .recentPlace {
        overflow-x: visible;
    }
}

@media (max-width:480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }
}
